table{
    border-collapse: collapse;
    text-align: center;
} 
th, td {
    border: 1px solid black;
    padding: 5px;
  }
.datatable{
    display: flex;
    align-items: center;
    justify-content: center;

}
.monthlysummary{
    text-align: center;
}
.whole{
    margin: 10% 0 10% 0;
}